:root {
  --navi_blue: #2e2f42;
  --cloud: #f4f4fd;
  --border-cornflower: #e7e9fc;
  --accent-iris: #4d5ae5;
  --pressed_state-ocean: #404bbf;
  --main-slate: #434455;
  --bg_page-white: #ffffff;
  --green: #31d0aa;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg_page-white);
  color: var(--main-slate);
}
.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean, #404bbf);
  position: absolute;
  bottom: -1px;
  right: 0;
}

/** -------------------- reset styles---------------------------- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  outline-color: transparent;
  outline-style: none;
}
input {
  font-family: inherit;
}
/** -------------------------Header ---------------------------- */
.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}
.logo-span {
  color: var(--navi_blue);
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
}
.nav-list-ref {
  color: var(--navyblue, #2e2f42);
  /* color: var(--pressed_state-ocean); */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  display: block;
  padding: 24px 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-ref:hover,
.nav-list-ref:focus {
  color: var(--pressed_state-ocean);
}
.address {
  font-style: normal;
  /* margin-left: 332px; */
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-list-item {
}
.address-list-ref {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-ref:hover,
.address-list-ref:focus {
  color: var(--pressed_state-ocean);
}
/** --------------------------Main ---------------------------*/
/** herro */
.hero {
  /* background: var(--navyblue, #2e2f42); */
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
}
.hero-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 60/56 */
  letter-spacing: 0.02em; /* 1.12/56 */

  max-width: 496px;
  margin: 0 auto 48px auto;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.04em; /* 0.64/16 */
  cursor: pointer;

  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px 22px;
  min-width: 169px;
  height: 56px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed_state-ocean);
}
/** features  */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  /* width: 264px; */
}
.wrap-features-icons {
  background-color: var(--cloud);
  /* padding: 24px 100px; */
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
}
.features-icon {
}
.features-subtitle {
  color: var(--navi_blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 24/20 */
  letter-spacing: 0.02em; /* 0.4/20 */
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em; /* 0.32/16 */
}
/** what are we doing */
.work {
  padding-bottom: 120px;
}
.work-title {
  color: var(--navi_blue);
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11; /* 40/36 */
  letter-spacing: 0.02em; /* 0.72/36 */

  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-list-item {
}
/** our team */
.team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-subtitle-text-wrap {
  padding: 32px 0;
  text-align: center;
}
.team-title {
  color: var(--navi_blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 40/36 */
  letter-spacing: 0.02em; /* 0.72/36 */
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  color: var(--navi_blue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em; /* 24/20 */
  letter-spacing: 0.02em; /* 0.4/20 */

  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em; /* 0.32/16 */
  margin-bottom: 8px;
}
.team-list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-item-icon {
  width: 40px;
  height: 40px;
}
.team-icon-ref {
  color: var(--green);

  display: flex;
  width: 100%;
  height: 100%;

  background-color: var(--accent-iris);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-ref:hover,
.team-icon-ref:focus {
  background-color: var(--pressed_state-ocean);
}
.team-icon {
  fill: #f4f4fd;
}

/**---------------------- customers-------------------------- */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.castomers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  color: var(--navi_blue);
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers-ref {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #8e8f99;
}

.customers-ref:hover,
.customers-ref:focus {
  color: var(--pressed_state-ocean);
  border-color: var(--pressed_state-ocean);
}

.customers-icon {
  fill: currentColor;
}

/** -----------------footer-------------------------- */
.footer {
  background: var(--navyblue, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-wrap-logo-text {
}
.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
  margin-right: 0;
}
.footer .logo-span {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em; /* 0.32/16 */

  width: 264px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-wrap-logo-text {
  margin-right: 120px;
}
.footer-social-cover {
}
.footer-social-title {
  margin-bottom: 16px;
  color: var(--white, #fff);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-cover {
  margin-right: 80px;
}
.footer-social-ref {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-ref:hover,
.footer-social-ref:focus {
  background-color: var(--green);
}
.footer-social-icon {
  fill: #f4f4fd;
}

.footer-form-text {
  margin-bottom: 16px;

  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.foter-input-email {
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 264px;
  height: 40px;
  color: var(--white, #fff);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
}
.foter-input-email::placeholder {
  font-family: inherit;
  color: var(--white, #fff);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.footer-form-btn {
  color: var(--white, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  min-width: 165px;
  height: 40px;
  background: var(--iris, #4d5ae5);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-btn-icon {
  fill: transparent;
  margin-left: 16px;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! ------------------- Portfolio ------------------------- */
/** ------------------ main------------------------- */
/** filter */
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.filter-list-item {
}
.filter-button {
  border: 1px solid var(--cornflower, #e7e9fc);
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);

  color: var(--iris, #4d5ae5);
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.04em; /* 0.64/16 */
  cursor: pointer;

  padding: 12px 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/** Gallery view */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-cover-wrap {
  position: relative;
  overflow: hidden;
}
.gallery-ref {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-ref:hover,
.gallery-ref:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-iteractive-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-iris);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-ref:hover .gallery-iteractive-text,
.gallery-ref:focus .gallery-iteractive-text {
  transform: translateY(0%);
}

.gallery-subtitle-text-wrap {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}
.gallery-subtitle {
  color: var(--navi_blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 24/20 */
  letter-spacing: 0.02em; /* 0.4/20 */
  margin-bottom: 8px;
}
.gallery-text {
  color: var(--main-slate);
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em; /* 0.32/16 */
}
/* ! ----------------- backdrope ---------------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* outline: transparent; */
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed_state-ocean);
  fill: var(--bg_page-white);
  border: none;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* * ----form---- */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-text {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form-wrap {
  margin-bottom: 8px;
}
.modal-form-comment-wrap {
  margin-bottom: 16px;
}
.modal-input-wrap {
}
.modal-form-label {
  font-family: inherit;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  display: block;
}
.modal-form-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea {
  resize: none;
  padding: 8px 16px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline-style: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-textarea::placeholder {
  font-family: inherit;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navi_blue);

  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: var(--accent-iris);
}
.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-iris);
}

/* * ---checkox--- */
.modal-checkbox-wrap {
  display: flex;
  margin-bottom: 24px;
  position: relative;
}
.modal-form-checkbox {
}
.modal-span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.modal-label-checkbox {
  color: #8e8f99;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-checkbox-ref {
  color: var(--accent-iris);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04;
  margin-left: 4px;
}

.modal-form-checkbox:checked + .modal-label-checkbox .modal-span-checkbox {
  background-color: var(--pressed_state-ocean);
  border: none;
  fill: var(--cloud);
}
/* * --button form-- */
.modal-form-btn {
  color: var(--white, #fff);
  font-family: inherit;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--pressed_state-ocean);
}
